.stats-abilities {
  width: 70%;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid black;
}

.stats-abilities__item {
  width: 40%;
  padding: 0.6vw;
  border: 1px black solid;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0.4vw;
}


.stats-abilities__item-content {
  font-size: 0.8vw;
  text-align: justify;
  align-self:center;
}