.stats-abilities {
  width: 70%;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid #b4b4b4;
  border-radius: 30px;
  padding: 10px;
}

.stats-abilities__item {
  width: 40%;
  padding: 10px;
  border: 1px #b4b4b4 solid;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0.4vw;
  border-radius: 30px;
}


.stats-abilities__item-content {
  font-size: 0.8vw;
  text-align: justify;
  align-self:center;
}