.stand {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.stand-list {
  list-style: none;
}

.stand-list__element {
  display: flex;
  align-items: center;
}

.stand-list__element:nth-child(even) {
  background-color: rgb(189, 189, 189);
  color: white;
}

.stand-list__element:nth-child(odd) {
  background-color: whitesmoke;
  color: black;
}

.stand-list__button-holder {
  display: flex;
  justify-content: right;
  flex-grow: 1;
}
