.pokedex-presentation-container {
  width: 33.33%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokedex-presentation-container * {
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: 1.25vmax;
}

.pokedex-presentation-image {
  width: 14vw;
  height: fit-content;
  background-color: #e6e6e6;
  border-radius: 30px;
  border: 1.5px black solid;
}

.pokedex-presentation-name {
}

.pokedex-presentation-type {
  margin-top: 0.3vmax;
  margin-bottom: 0.3vmax;
  width: 80%;
  padding: 0.4vmax;
  border: #b4b4b4 1px solid;
  border-radius: 30px;
  flex-wrap: wrap;
}

.pokedex-presentation-data {
  border: #b4b4b4 1px solid;
  border-radius: 30px;
  padding: 0.4vmax;
  flex-wrap: wrap;
  width: 80%;
}

.pokedex-presentation-data__height {
  margin-top: 1.5vmax;
  margin-right: .5vmax;
  margin-bottom: 0.5vmax;
  width: 40%;
}

.pokedex-presentation-data__weight {
  width: 40%;
  margin-top: 1.5vmax;
  margin-left: .5vmax;
  margin-bottom: 0.5vmax;

}

.pokedex-presentation-data_height-title {
  width: 100%;
  align-items: center;
}

.pokedex-presentation-type__title {
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pokedex-presentation-data__title {
  width: 100%;
}
