.pokedex-presentation-container {
  width: 33.33%;
  background-color: lightcoral;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokedex-presentation-container *{
  display: flex;
}

.presentation-image {
  width: 14vw;
  height: fit-content;
  background-color: white;
}

.presentation-image-container{
  width: 100%;
  justify-content: center;
  padding: 10px;
  height: fit-content;
}

.presentation-name{
  width: fit-content;
  height: fit-content;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
