/* NAVBAR */
.navbar {
  background: #323232;
  height: 10vh;

  /* Flex */
  display: flex;
  flex: 1 0;
  justify-items: center;
}

.navbar__items {
  list-style: none;

  /* Flex */
  display: flex;
  flex: 1 1;
}
