.main__header {
  display: flex;
  width: 100%;
  background: rgba(0, 0, 0, 0.829);
  justify-items: center;
  height: 10vh;
}

.navbar {
  width: 80%;
  padding: 0.6vmax;
  display: flex;
}

.navbar__brand {
  width: 20%;
  margin: auto;
}

.navbar__brand__text {
  text-decoration: none;
  font-size: 1.4vmax;
  font-weight: bolder;
  display: flex;
  margin: 0.8vmax 0vh 0vh 1vmax;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
}

.navbar__brand::first-letter {
  color: red;
  font-family: "Pacifico", cursive;
}

.navbar__items {
  list-style: none;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.generic-container{
  width: 4vmax;
  padding: .8vmax;
  display: flex;
  align-items: center;
}
