.search-box-autocomplete {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  align-self: flex-start;
}

.search-box-autocomplete__input {
  padding: 1%;

  width: 30vw;
}

.search-box-autocomplete__sprite {}

.search-box-autocomplete__list {
  display: flex;
  padding: 0;
  list-style-type: none;
  border: solid black 1px;
  border-radius: 20px;
  height: fit-content;
  width: 30vw;
  flex-direction: column;
  overflow: hidden;
}

.search-box-autocomplete__list-element {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: left;
  font-family: monospace;
  font-size: 1.5vw;
}

.search-box-autocomplete__list-element:hover {
  background-color: wheat;
}

.search-box-autocomplete__list-invisible {
  opacity: 0;
}

.search-box-autocomplete__title {
  font-family: monospace;
  font-size: 1.5vw;
  padding: 5%;
}

.search-box-autocomplete__icon-holder {
  display: flex;
  justify-content: right;
  flex-grow: 1;
}