.description-box-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  left: 0;
  right: 0;
  top: 5.0vw;
  padding: 1vw;
  background-color: orange;
  opacity: 0.95;
  border: 1px solid black;
}
