.matchup-page{
  display: flex;
  flex-wrap: nowrap;
  height: 90vh;
}


.matchup-page__left {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  width: 50%;
}

.matchup-page__right {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  width: 50%;
}
