.matchup-page {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.matchup-page__left {
  flex-grow: 1;
  background-color: rgb(202, 255, 255);
  display: flex;
  justify-content: center;
}

.matchup-page__right {
  flex-grow: 1;
  background-color: rgb(201, 255, 166);
  display: flex;
  justify-content: center;
}
