.navbar__item {
  color: white;

  /* Font */
  font-size: 30px;
  text-decoration: none;
  line-height: 1.5;

  /* Flex */
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
}

.navbar__item:hover {
  background-color: #666;
}

.navbar__item:first-child:hover {
  background-color: #323232;
  cursor: default;
}
