.navbar__item {
  display: flex;
  width: 30%;
  margin-top: 0.25vh;
  padding: 0.5%;
  justify-content: center;
  align-items: center;

  color: inherit;
  font-size: x-large;
}

.navbar__item:nth-child(1),
.navbar__item:nth-child(2),
.navbar__item:nth-child(3),
.navbar__item:nth-child(4) {
  color: rgb(255, 255, 255);
}

.navbar__item:nth-child(1):hover {
  color: white;
  background: #ff6b35;
}

.navbar__item:nth-child(2):hover {
  color: white;
  background: #758bfd;
}

.navbar__item:nth-child(3):hover {
  color: #000000;
  background: rgb(255, 255, 255);
}

.navbar__item:nth-child(4):hover {
  color: #ffffff;
  background: #ff6b35;
}

.navbar__item:nth-child(5) {
  color: rgb(255, 255, 255);
}

.navbar__item:nth-child(5):hover {
  color: #000000;
  background: #fbff1f;
}

.navbar__item:nth-child(6) {
  width: 15%;
}
