.stats-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 33.3333%;
}

.stats-container * {
  display: flex;
  font-family: "Lato", sans-serif;
  flex-wrap: wrap;
}

.stats__list {
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.stats__list-item {
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.2vw;
  display: flex;
  border: 1px solid #b4b4b4;
}

.stats__list-item:nth-child(1) {
  border-top-left-radius: 10px;
}

.stats__list-item:nth-child(2) {
  border-top-right-radius: 10px;
}

.stats__list-item:nth-child(5) {
  border-bottom-left-radius: 10px;
}

.stats__list-item:nth-child(6) {
  border-bottom-right-radius: 10px;
}

.stats__list-item-title {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.stats__list-container {
  margin-top: 0.5vw;
  padding: 0.7vw;
  width: 70%;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  justify-content: center;
}
