.pokedex-container {
  background-color: black;
  display: flex;
  flex-grow: 1;
  margin-top: 1vh;
}

.pokedex-rating-container {
  width: 33.33%;
  height: inherit;
  background-color: lightseagreen;
}
